# Week1 Data Files and Summary statistics

In [9]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [2]:
len(mpg)

234

In [5]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [10]:
for a in mpg:
    print(a['cty'])

18
21
20
21
16
18
18
18
16
20
19
15
17
17
15
15
17
16
14
11
14
13
12
16
15
16
15
15
14
11
11
14
19
22
18
18
17
18
17
16
16
17
17
11
15
15
16
16
15
14
13
14
14
14
9
11
11
13
13
9
13
11
13
11
12
9
13
13
12
9
11
11
13
11
11
11
12
14
15
14
13
13
13
14
14
13
13
13
11
13
18
18
17
16
15
15
15
15
14
28
24
25
23
24
26
25
24
21
18
18
21
21
18
18
19
19
19
20
20
17
16
17
17
15
15
14
9
14
13
11
11
12
12
11
11
11
12
14
13
13
13
21
19
23
23
19
19
18
19
19
14
15
14
12
18
16
17
18
16
18
18
20
19
20
18
21
19
19
19
20
20
19
20
15
16
15
15
16
14
21
21
21
21
18
18
19
21
21
21
22
18
18
18
24
24
26
28
26
11
13
15
16
17
15
15
15
16
21
19
21
22
17
33
21
19
22
21
21
21
16
17
35
29
21
19
20
20
21
18
19
21
16
18
17

In [13]:
sum(float(a['cty']) for a in mpg)/len(mpg)# The average mpg in city

16.86

In [15]:
sum(float(a['hwy'])for a in mpg)/len(mpg)# The average mpg in hwy

23.44

In [10]:
cylinders = set(a['cyl'] for a in mpg)
cylinders

{'4', '5', '6', '8'}

for each type of cylinder, what is the average mpg in city

In [18]:
ctyMpgByCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for a in mpg:
        if a['cyl'] == c:
            summpg += float(a['cty'])
            cyltypecount += 1
    ctyMpgByCyl.append((c, summpg/cyltypecount))
ctyMpgByCyl

[('8', 12.57), ('6', 16.22), ('4', 21.01), ('5', 20.50)]

rank the cylinder size

In [20]:
ctyMpgByCyl.sort(key=lambda x: x[0])
ctyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

for each type of class, the average mpg in city

In [22]:
vehicleclass = set(a['class'] for a in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [24]:
ctyMpgByClass = []

for c in vehicleclass:
    summpg = 0
    count = 0
    for a in mpg:
        if a['class'] == c:
            summpg += float(a['cty'])
            count += 1
    ctyMpgByClass.append((c, summpg/count))

ctyMpgByClass.sort(key=lambda x: x[1]) #sort by mpg
ctyMpgByClass

[('pickup', 13.00),
 ('suv', 13.50),
 ('2seater', 15.40),
 ('minivan', 15.82),
 ('midsize', 18.76),
 ('compact', 20.13),
 ('subcompact', 20.37)]